.ContentContainer {
  width: 100%;
  height: 100%;
}

.ContentArticle {
  width: 80%;
  margin: auto;
}
.CarouselContainer {
  height: 900px;
}
.textContent {
  .TitleContent {
    text-align: center;
    margin-top: 50px;
    font-family: Exdoxus Sans;
    font-size: 64px;
    line-height: 84px;
    font-weight: 700;
  }
  .Content {
    text-align: center;
    margin: auto;
    width: 62%;
    height: 64px;
    color: #cdccd0;
    font-family: Exdoxus Sans;
    font-size: 18px;
    line-height: 33px;
    font-weight: 500;
  }
}

.ContentArticle {
  .BoxTip {
    padding-left: 5%;
    width: 90%;
    height: 248px;
    background: #ffffff;
    box-shadow: 0px 4px 140px rgba(175, 173, 181, 0.2);
    transform: translate(4%, 25%);
    padding-top: 25px;
  }
  .textTip {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  .textTitle {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #151411;
  }
  .textMorgan {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #151411;
  }
  .ContentText {
    margin-left: 20px;
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #afadb5;
  }
  .boxAvatar {
    display: flex;
    align-items: center;
    .avatarimg {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      img {
        width: 100%;
      }
    }
  }
}

.CardContainer {
  .textNew {
    width: 97px;
    height: 23px;
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ffb23f;
  }
  .textTodaytop {
    width: 428px;
    height: 57px;
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #151411;
  }
  
}

.TrendingTop {
  margin-top: 30px;
  .textTrendingTop {
    width: 137px;
    height: 23px;
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ffb23f;
  }
  .textPopular {
    width: 376px;
    height: 57px;
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #151411;
  }
}
.TextLoad {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #151411;
  width: 150px;
  height: 50px;
  border: 1px solid #f5f5f5;
  .ptextLoad {
    text-align: center;
    line-height: 50px;
  }
}

.TextSubscribe {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .textTalk {
    padding-left: 20px;
    padding-right: 20px;
    background: #518581;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    .ptextTalk {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 625px) {
  .BoxTip {
    width: 100%;
  }
  .CardContainer {
    display: flex;
    flex-direction: column;
  }
  .TextSubscribe {
    display: flex;
    flex-direction: column;
  }
  .TextSubscribe .textTalk {
    width: 150px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: #518581;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
