.col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.CardContainer {
  .boxImg {
    width: 100%;
    // height: 340px;
  }
  img {
    width: 100%;
  }
  .textDesign {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    color: #afadb5;
  }
  .textBedroom {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #151411;
  }
  .textnd {
    font-family: "Eudoxus Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #afadb5;
  }
}
.boxAvatar {
  display: flex;
  align-items: center;
  .avatarimg {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 625px) {
  .col {
    display: flex;
    flex-direction: column;
  }
}